body {

  background-color: blue;
} 

*{
  box-sizing: border-box;
}

.maps{
  padding: 10%;
  background-color: cornflowerblue;
  height: 50rem ;
  width: 50%;
}
.reviewArena{
  height: 100px;
  /* width: 10px; */
  background-color: brown;
}


.main {
  margin: 20px;
  /* padding: 10px; */
  height:500px;
  background-color: darkgreen;
}

.col{
  padding: 0% ;
  /* margin:5px */
}
.row{
padding-right: 0px;
}
.arenaTitle{
  background-color: darkolivegreen;
  width: fit-content;
  margin: 0px;
  /* margin: auto; */
}
.arenaReview{
  background-color: deeppink;
  margin: auto;
  width: auto;
}
.IndividualReview{
  background-color: dimgrey;
  /* margin:auto; */

}
.placePhoto{
  /* position: initial; */
}
.details{
  background-color: lawngreen;
}

.placeTitle,.placeRating{
  margin: 0px;
}

.restImg{
  margin-left: 20px;
  height: 50px;
  width: 50px;
}