body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: blue;
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.reviewArena{
  height: 60vh;
  margin: 20px;
  background-color: brown;
  /* width: 100vh; */
  /* display: inline; */
}
 .locationLoad{
  background-color: cornflowerblue;
  /* display: inline; */
  /* position: relative; */
  height: 100%;
  /* width: 70vh; */
}

.maps{
  background-color: darkmagenta;
  height: 100%;
}

.main {
  margin: 20px;
  padding: 10px;
  height:500px;
  background-color: darkgreen;
}

.col{
  margin: 20px;
}