body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: blue;
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.reviewArena{
  height: 10vh;
  padding: 20px;
  background-color: brown;
  width: 50vh;
  display: inline;
}
.maps .locationLoad{
  background-color: cornflowerblue;
  display: inline;
  /* position: relative; */
  height: 70vh;
  width: 70vh;
}

.main {
  margin: 20px;
  padding: 10px;


}